<h1>CONTENIDOS</h1>
<div>
    <h3>Aqui podra encontrar los diferentes contenidos segun la ciudad</h3>
</div>
<button type="button" class="btn btn-outline-primary">Bogota</button>
<button type="button" class="btn btn-outline-primary">Medellin</button>
<br>
<br>

<!--
<div class="col-lg-3">
    <select id="CONTENIDOS" class="form-control form-select">
        <option value="Bogota" label="Bogota">Bogota</option>
        <option value="Medellin" label="Medellin">Medellin</option>
    </select><br>
    
</div> -->